.contact-container{
    font-size: 20px;
    max-height: 450px;
    text-align: center;
    overflow: auto;
}

.contact-form{
    margin: 2rem auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 0.8rem;
    background-color: #a29e9e;
    color: #403e3e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #403e3e;
    color: #a29e9e;
}

.success-message {
    color: green;
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
}

.error-message {
    color: red;
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
}


.contact-information{
    text-align: center;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact-link{
    color: lightgray;
    text-decoration: none;
}

.contact-link:hover{
    color: #a29e9e;
}

.cv-button .download-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #a29e9e;
    color: #403e3e;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
}

.cv-button .download-button:hover {
    background-color: #403e3e;
    color: #a29e9e;
}

@media screen and (max-width: 768px) {
    .contact-container{
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .contact-container{
        font-size: 14px;
    }
}