.projects-container {
    font-size: 18px;
    padding: 0.2rem;
    text-align: center;
}

.carousel-container {
    position: relative;
    max-width: 80%;
    margin: 1rem auto;
}

.carousel-content {
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: #292442;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-image {
    width: 20rem;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: white;
}

.arrow-button {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.arrow-button.left {
    left: 1rem;
}

.arrow-button.right {
    right: 1rem;
}

.details-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    color: #403e3e;
    text-decoration: none;
    border-radius: 4px;
}

.details-link:hover {
    background-color: #a29e9e;
    color: #403e3e;
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .projects-container{
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .projects-container{
        font-size: 14px;
    }
}