body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./background.jpg);
  color: #403e3e;
}

.main-container{
  max-width: 60%;
  margin: 30px auto;
  background-color: #7c7b7b;
  border-radius: 10px;
}
